@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Secular+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,900&family=Secular+One&display=swap');

.circusDay h2{
    /* margin-top: 4x; */
    margin: 4px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
font-family: 'Secular One', sans-serif;
color:white;
text-align: center;
font-size: 30px;
}


.foto2{
    /* position: relative; */
    margin-top:150px;
    margin-left: -20px;
    /* transform:rotate(15deg); */
}
.foto1{
    /* position: relative; */
    margin-top:35px;
    margin-left:25px;
    /* transform:rotate(-15deg); */
    box-shadow: 0 0 10px white;
}
.circusDay img{
    box-shadow: 0 0 10px white;
    border-radius: 2%;
    margin-bottom:5px;

}
.circusDay p{
    color:#fff;
    font-size:20px;
    font-weight: bolder;
    -webkit-text-stroke:1px #000;
    text-shadow: 0 0 10px #000;
}
