.App {
  text-align: center;
  padding: 0;
  margin: 0;

  /* --opacity:0;
  --pointer:none;

  opacity:var(--opacity);
  pointer-events:var(--pointer);
  transition:opacity .5s; */
}




.App{
  /* opacity: 5%; */
  background-color: #000;
  background-image: url('../public/img/festival7-1.png');
  background-size: cover;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

